
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-dark {
  padding: 20px;
}

.navbar-dark .navbar-brand {
  color: #fecf43;
  font-size: 27px;
  margin-left: 10px;
}


.login {
  font-size: 22px;
  color: #fecf43;
}

.login-button {
  font-size: 18px;
  color: #fecf43;
}
